<!doctype html>
<title>Web player for VK</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
	<h1>Web player for VK</h1>
	<div class=metanav>
	{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a>
	{% else %}
		<a href="{{ url_for('logout') }}">log out</a>
		<form action="{{  url_for('information') }}" method=post>
		<dl>
			<dd><input type=Submit value='Info'>
		</dl>
	</form>
	{% endif %}
	</div>
	{% for message in get_flashed_messages() %}
		<div class=flash>{{ message }}</div>
	{% endfor %}
	{% block body %}{% endblock %}
</div>