{% extends "layout.html" %}
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  
<script type="text/javascript" src="http://cdn.jsdelivr.net/jquery/1.10.2/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="static/mediaelement-and-player.min.js"></script>
<script type="text/javascript" src="static/mep-feature-playlist.js"></script>

<link type="text/css" rel="stylesheet" href="static/mediaelementplayer.min.css" />
<link type="text/css" rel="stylesheet" href="static/mep-feature-playlist.css" />

<script>
    $(function(){
        $('video,audio').mediaelementplayer({
                   loop: true,
        shuffle: true,
        playlist: true,
        audioHeight: 30,
        playlistposition: 'bottom',
        features: ['playlistfeature', 'prevtrack', 'playpause', 'nexttrack', 'loop', 'shuffle', 'playlist', 'current', 'progress', 'duration', 'volume'],
            keyActions: []
        });

 

    });

</script>


<style id="jsbin-css"></style>
</head>

{% block body %}
	{% if session.logged_in %}
		<div id="mediawrapper">
		<audio id="mejs" type="audio/mp3" controls="controls">
			<Source src="C:\Users\DArefev\one\Alphaville - Forever Young .mp3" title="Alphaville - Forever Young"></Source>
		</audio>
		</div>
		<ul classentries>
			{% for entry in entries %}
				<li><h2>{{ entry.title }}</h2>{{ entry.text|safe }}
			{% else %}
				<li><em>No such tracks for you.</em>
			{% endfor %}
		</ul>
		<a href="https://github.com/seet61/one/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="static/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
	{% endif %}
{% endblock %}
