<!doctype html>
<title>Web player for VK</title>
<!-- Разметка данной страницы будет отличаться от других, поэтому не будем заимствовать стили основной страницы-->

<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style_show.css') }}">
</head>
	<div id="nav">
	{% if not session.logged_in %}
		<a href="{{ url_for('login') }}">log in</a>
	{% else %}
		<a href="{{ url_for('logout') }}">log out</a>
	{% endif %}	
	</div>

	{% block body %}
		{% if session.logged_in %}
			<script type="text/javascript" src="../static/jquery-1.10.2.min.js"></script>
			<script type="text/javascript" src="../static/mediaelement-and-player.min.js"></script>
			<script type="text/javascript" src="../static/mep-feature-playlist.js"></script>

			<link type="text/css" rel="stylesheet" href="../static/mediaelementplayer.min.css" />
			<link type="text/css" rel="stylesheet" href="../static/mep-feature-playlist.css" />

			<script>
			$(function(){
				$('video,audio').mediaelementplayer({
				loop: true,
				shuffle: true,
				playlist: true,
				audioHeight: 30,
				playlistposition: 'bottom',
				features: ['playlistfeature', 'prevtrack', 'playpause', 'nexttrack', 'repeatonoff','loop', 'shuffle', 'playlist', 'current', 'progress', 'duration', 'volume'],
					keyActions: []
				});
			});
			</script>

			<style id="jsbin-css"></style>
			</head>
			<div id="mediawrapper">
			<audio id="mejs" type="audio/mp3" controls="controls">
				<!-- <Source src="static/Alphaville-ForeverYoung.mp3" title="Alphaville - Forever Young"></Source> -->
				{% for entry in entries %}
					<!-- Указываем какой файл проигрывать, и делаем короткое название для списка  файлов-->
					<Source src="{{ entry }}" title="{{ entry.split('/')[-1] }}"></Source>
				{% else %}
					<Source src="static/vkmusic" title="No tracks!"></Source>
				{% endfor %}
				<ul classentries>
				
				</ul>
			</audio>


			</div>
			<a href="https://github.com/seet61/one/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="static/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
		{% endif %}
	{% endblock %}
